@import 'config';
@import 'mixins';

/* globals */
body {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  text-align: center;
  font-weight: bold;
  color: $light-orange;
  text-shadow: 0 0 .2rem $white;
  background-color: $black;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 5em;
  text-align: center;
  color: $light-orange;
  -webkit-text-stroke: 1px $white;
}

h2 {
  font-size: 2em;
  color: $light-orange !important;
}

h3,
h4 {
  font-family: $font-stack;
  font-size: .7em;
}

p {
  font-family: $font-stack;
  color: $light-orange;
  font-weight: normal;
  letter-spacing: 0.03em;
  font-size: .7em !important;
  line-height: 1em;
  text-shadow: 0 0 .3rem $black;
}

img {
  margin: auto;
  width: 75%;
  vertical-align: top !important;
}

/* home view */
body.home {
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  text-align: center;
  font-weight: bold;
  color: $light-orange;
  text-shadow: 0 0 .1rem $light-orange;
  background-color: $black;
  background-image: url(#{ $home-background });
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  overflow: hidden;
}

body.home h1 {
  color: $dark-orange;
  -webkit-text-stroke: 1px $white;
  margin-top: .5em;
}

body.home h2 {
  font-size: 4.4em;
  color: $dark-orange !important;
  text-shadow: 0 0 .3rem $black;
  -webkit-text-stroke: 1px $white;
}

/* gallery view */
body.gallery {
  @include scrolling-background-properties($gallery-background);
}

body.gallery h1 {
  color: $light-orange;
  text-shadow: 0 0 .3rem $black;
  -webkit-text-stroke: 1px $white;
}

body.gallery h2 {
  font-size: 1.1em;
  color: $light-orange !important;
  text-shadow: 0 0 .3rem $black;
}

body.gallery p {
  font-size: .8em !important;
  color: $light-orange !important;
  text-shadow: 0 0 .3rem $black;
}

a img {
  padding-bottom: 7px;
  transition: 0.3s ease-in-out !important;
}

a:hover img {
  transform: scale(1.025);
  transition: 0.2s ease-in-out !important;
}

.col-sm-6 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center !important;
}

.col-sm-6 img,
.col-md-6 img,
.col-lg-4 img,
.col-xl-3 img,
.col-xxl-2 img {
  width: 100%;
  height: auto;
}

/* specific to gallery */
.show-row {
  background-color: $gallery-screen;
}

/* applies to both gallery and show view */
.row {
  text-align: center;
  margin-left: 5em;
  margin-right: 5em;
}

/* show view */
body.show {
  @include scrolling-background-properties($show-background);
}

body.show h1 {
  color: $light-orange;
  -webkit-text-stroke: 1px $white;
}

body.show p {
  font-size: .7em !important;
  color: $light-orange !important;
  text-shadow: 0 0 .3rem $black;
}

.img-fluid {
  margin: auto;
  width: 100%;
}

.col-md-4 img {
  height: 70vh !important;
  object-fit: contain;
}

.col-md-8 {
  margin: 0 auto;
  padding: .75rem;
  font-size: 1.3rem;
}

/* different viewport size adjustments */
@media (min-width: 768px) {

  .col-md-4,
  .col-md-8 {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .col-md-4 img {
    height: 60vh !important;
    object-fit: contain;
  }
}

@media (max-width: 767px) {
  .col-md-4 img {
    height: 50vh !important;
    object-fit: contain;
  }
}

@media (min-width: 1401px) {
  h1 {
    font-size: 5em !important;
  }

  h2 {
    font-size: 3.5em !important;
  }

  body.show h1,
  body.gallery h1,
  body.error404 h1 {
    font-size: 3.5em !important;
  }

  body.gallery h2 {
    font-size: 1.1em !important;
  }

  body.show p {
    font-size: 1.5em !important;
  }

  body.show img {
    height: 80vh;
  }

  .show-row {
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 4.5em !important;
  }

  h2 {
    font-size: 3em !important;
  }

  body.show p {
    font-size: 1.2em !important;
  }

  body.show h1,
  body.gallery h1,
  body.error404 h1 {
    font-size: 3em !important;
  }

  body.gallery h2 {
    font-size: 1.1em !important;
  }

  .show-row {
    text-align: center;
    margin-left: 9em;
    margin-right: 9em;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 4.5em !important;
  }

  h2 {
    font-size: 3em !important;
  }

  body.show h1,
  body.gallery h1,
  body.error404 h1 {
    font-size: 2.67em !important;
  }

  body.show h1 {
    margin-top: .7em;
  }

  body.show p {
    font-size: 1em !important;
  }

  body.gallery h2 {
    font-size: 1.1em !important;
  }

  body.show img {
    height: 60vh;
    width: 100%;
    object-fit: contain;
  }

  .show-row {
    text-align: center;
    margin-left: 8em;
    margin-right: 8em;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em !important;
  }

  h2 {
    font-size: 2em !important;
  }

  body.show h1,
  body.gallery h1,
  body.error404 h1 {
    font-size: 2em !important;
  }

  body.show p {
    font-size: .8em !important;
  }

  body.gallery h2 {
    font-size: 1.1em !important;
  }

  .show-row {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5em !important;
  }

  h2 {
    font-size: 2em !important;
  }

  body.show h1,
  body.gallery h1,
  body.error404 h1 {
    font-size: 2em !important;
  }

  body.show p {
    font-size: .8em !important;
  }

  body.gallery h2 {
    font-size: 1.1em !important;
  }

  .show-row {
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
  }
}

/* new and edit views */
body.edit {
  @include overflow-hidden-views($edit-background);
}

body.new {
  @include overflow-hidden-views($new-background);
}

body.new label,
body.edit label {
  font-size: 1em !important;
  color: $light-orange !important;
  text-shadow: 0 0 .3rem $black;
}

/* forms on both new and edit */
form {
  max-width: 600px !important;
  margin: 0 auto;
}

.form-control {
  font-family: $font-stack;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: $form-border;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: $focus-border;
  box-shadow: $focus-box-shadow;
}

/* error404 view */
body.error404 {
  @include overflow-hidden-views($error-404);
}

// body.error404 {
//   background-image: url(#{ $error-404 });
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-attachment: fixed;
//   overflow: hidden;
// }

body.error404 h1 {
  color: $light-orange;
  -webkit-text-stroke: 1px $white;
  font-size: 2.5em !important;
  margin-top: -.9em;
}

@media (max-width: 768px) {
  body.error404 h1 {
    font-size: 1.5em !important;
  }
}

/* navbar */
.navbar {
  position: fixed;
  font-family: $font-stack;
  font-size: 1.1em;
  font-style: italic;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 4em !important;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
}

.navbar-nav {
  margin-left: 1.2em;
  margin-right: auto;
}

.nav-link {
  color: $light-orange !important;
  font-size: 1.2em !important;
  transition: 0.3s ease-in-out !important;
}

.nav-link:hover,
.navbar-brand:hover {
  color: $light-orange !important;
  text-decoration: none;
  transition: 0.3s ease-in-out !important;
}

/* buttons on home, new, and edit */
.btn-primary {
  background-color: $accent-green !important;
  color: $light-orange !important;
  padding: 0rem 2.2rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 1px solid $light-orange !important;
  cursor: pointer;
  font-size: 2.5rem;
  box-shadow: $box-shadow;
  transition: 0.3s ease-in-out;
  padding-bottom: 4px;
}

@media (max-width: 768px) {
  .btn-primary {
    font-size: 2em !important;
    border-radius: .4em;
  }
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: $accent-green !important;
  color: $light-orange !important;
  text-shadow: 0 0 .25em $light-orange !important;
  transition: 0.3s ease-in-out;
}

.btn-primary:active {
  background-color: $light-orange !important;
  color: $accent-green !important;
  transition: 0.3s ease-in-out !important;
}

/* edit (btn-warning) and delete (btn-danger) buttons */
.edits {
  margin-top: .3em;
  margin-bottom: 4em;
}

.btn-warning,
.btn-danger {
  border-radius: .5em;
  margin-right: .2em;
  margin-left: .2em;
  font-size: 1em;
  border: 1px solid $black !important;
}

.btn-danger {
  color:  $light-orange !important;
}

.btn-warning {
  color: $black !important;
}

.btn-warning:hover,
.btn-danger:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  border: 1px solid $light-orange !important;
  color: $light-orange !important;
}

.btn-danger:hover {
  color: $black !important;
}

.btn-warning:hover {
  background-color: $warning !important;
}

.btn-warning:active,
.btn-danger:active {
  background-color: $light-orange !important;
  transition: 0.3s ease-in-out !important;
}

/* links */
a:link {
  color: $light-orange;
  font-size: 1em;
  transition: color 0.3s ease;
  text-decoration: none;
}

a:visited {
  color: $light-orange;
  text-decoration: none;
}

a:hover {
  color: $light-orange;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s ease;
  text-shadow: 0 0 .9em $light-orange !important;
}

a:active {
  color: $active-link;
  text-decoration: none;
}

/* footer */
.sticky-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  width: 100%;
  height: 5em;
  line-height: 1em !important;
  background: linear-gradient(to top, $footer-color, $footer-color 90%, rgba($footer-color, 0));
  color: $light-orange !important;
  font-family: $font-stack;
}

.sticky-footer a {
  color: $light-orange !important;
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.2s ease-in-out;
  margin-bottom: 0;
}

.sticky-footer a:hover {
  color: $light-orange !important;
  text-shadow: 0 0 .9em $light-orange !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.icons {
  color: $light-orange !important;
}

.copyright {
  color: $light-orange !important;
  font-family: $font-stack;
  padding-top: 11px;
}

body.home .copyright,
body.show .copyright,
body.new .copyright,
body.edit .copyright,
body.error404 .copyright {
  font-size: .8rem !important;
}

/* Media query for screens with a maximum width of 768 pixels */
@media (max-width: 768px) {
  /* Adjust font size of footer text for smaller screens */
  .my-info {
    font-size: .7rem;
  }

  body.home .copyright,
  body.show .copyright,
  body.new .copyright,
  body.edit .copyright {
    font-size: .56rem !important;
  }
}